
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #8855ED;
  border-radius: 10px !important;

}

*::-webkit-scrollbar-thumb {
  background: #370E8A;
  border-radius: 10px !important;
}